/* RA LANDING */
body {
    background-color: #f9f9f7;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

h1 {
    text-align: left;
    width:600px;
    margin:0 auto;
}

p {
    text-align: center;
}

.navbar {

    background-color: #caf0f8;

}

.login-greeting {
    display:flex;
    color:#001a2c;
}


.card-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(165, 169, 236, 0.2);
  transition: 0.3s;
  width:600px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-background{
    background-image: url(Images/college-bg.jpg);
    padding: 40px;
    border-radius: 20px;
    margin:20px;

}

.container {
    padding: 2px 16px;
    display:flex;
    justify-content: center;
}

.custom-button {
    background-color:#a2d2ff;
    border-radius: 25px;
    padding: 12px;
    width: 190px;
}

.custom-button:hover {
    background-color:#0077b6;
}

#submit-btn {
    background-color: #a2d2ff;
}

#submit-btn:hover, #ra-btn:hover {
    background-color: #0077b6;
}

#student-btn {
    background-color:#8ecae6;
    border-radius:15px;
}

/* RA NAVBAR */

.navbar-search {

    text-align: center;

}

/* RA NAV COLUMN */

.nav-column {

    background-color: white;
    position: absolute;
    width: 20%;
    height: 100%;

}

.navbar-nav {

    margin-left: 20%;
    margin-top: 20px;

}

/* RA MAIN CONTAINER */

.main-container {

    background-color: white;
    position: absolute;
    width: 60%;
    height: 100%;
    left: 20%;
    text-align: center;

}

.thing {

    height: 100%;

}

.home-feed {

    height: 100%;
    max-height: 700px;
    width: auto;
    overflow-y: scroll;

}

.btn-class-idk {

    float: left;
    width: 100%;

}

#filter-btn-container {

    list-style: none;
    justify-content: left;
    align-content: center;
    width: 100%;
    margin-top: 20px;
    position: flex;

}

.feed-btn {

    margin-right: 10px;
    margin-left: 5px;

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    border: rgb(215, 215, 215) 2px solid;
    border-radius: 8px;

    font-size: medium;

}

.right-container {

    background-color: white;
    position: absolute;
    height: 100%;
    width: 20%;
    left: 80%;

}

.quick-links {

    border-radius: 10px;

    margin: 20px;
    margin-left: 5px;
    width: auto;

}

.card-title {

    text-align: left;

}

.card:hover {

    box-shadow: 0 4px 8px 0 rgba(165, 169, 236, 0.2);

}

.post {

    width: auto;
    box-shadow: none;

}

.post:hover {

    box-shadow: none;

}

.post-title {

    text-align: left;
    width: fit-content;
    margin-right: 20px;
    margin-top: 10px;

}

.card-text {

    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;

}

.card-top-section {

    text-decoration: none;
    list-style: none;
    justify-content: left;

}

.title-info {

    padding-top: 15px;
    text-align: left;
    width: fit-content;
    font-size: small;
    color: grey;

}

#fixt-link {

    font-size: medium;

}

.card-link {

    color: #001a2c;

}

.comment {

    justify-content: left;

}

.comment-info {

    text-align: left;
    width: fit-content;
    font-size: x-small;
    color: grey;

}

.comment-text {

    text-align: left;
    font-size: small;
    margin-left: 15px;

}

#create-post {

    margin-left: 49%;

}

#create-announcement {

    margin-left: 39%;

}

#create-event {

    margin-left: 47%;

}

/* SEARCH BAR */

.navbar-search {

    width: 50%;
    margin-left: 20%;

}

.btn-outline-custom {

    background-color:#51b9f1;

}

.btn-outline-custom:hover {

    background-color: #0077b6;

}

/* NAVBAR ICONS */

#user-ban-icon {

    margin-left: 20%;

}

#announcement-creation-page {

    width: 80%;
    text-align: left;

}

#announcement-form {

    width: auto;
    margin: 20px;
    height: 88%;

}

.announcement-info {

    align-content: left;
    margin: 20px;

}

#post-announcement-btn {

    width: fit-content;
    margin-left: 84%;

}

#post-event-btn {

    width: fit-content;
    margin-left: 89%;

}

#save-changes-btn {

    width: fit-content;
    margin-left: 88%;

}

.post-type-btn {

    width: fit-content;

}

#event-type-btn {

    margin-left: 17px;

}

.comment-btn {

    margin-left: 50%;

}

.reply-btn {

    margin-left: 78%;

}

.add-me-btn {

    width: fit-content;
    margin-left: 85%;
    margin-bottom: 10px;

}

.event-info {

    font-size: small;
    text-align: left;
    margin-left: 20px;

}

#post-btn {

    width: fit-content;
    margin-left: 80%;

}
