body {
    background-color: #f9f9f7;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

h1 {
    text-align: left;
    width:600px;
    margin:0 auto;
}

p {
    text-align: center;
}

.navbar {
    background-color: #caf0f8;
}

.neighbor-text {
    display:flex;
    color:#001a2c;
}


.card-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(165, 169, 236, 0.2);
  transition: 0.3s;
  width:600px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-background{
    background-image: url(Images/college-bg.jpg);
    padding: 40px;
    border-radius: 20px;
    margin:20px;

}

.container {
    padding: 2px 16px;
    display:flex;
    justify-content: center;
}

.custom-button {
    background-color:#a2d2ff;
    border-radius: 25px;
    padding: 12px;
    width: 190px;
}

.custom-button:hover {
    background-color:#0077b6;
}

#submit-btn {
    background-color: #a2d2ff;
}

#submit-btn:hover, #ra-btn:hover {
    background-color: #0077b6;
}

#ra-btn {
    background-color:#8ecae6;
    border-radius:15px;
}
