body {
    background-color: #f9f9f7;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

h1 {
    text-align: center;
    color:#095998;
}

.custom-button{
    background-color: #92d6ff;
    width:300px;
    padding:12px;
    display: block;
    margin: auto;
    font-size: large;
}

.custom-button:hover {
    background-color:#0077b6;
}


.card-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:30px;
    margin: 20px;
}

