body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}
p {
    padding-top: 20px;
    font-size: large;
    border: 1px solid black;
    padding-left: 10px;
    padding-bottom: 10px;
}
/* NAV BAR */
.custom-button {
    background-color:#a2d2ff;
    border-radius: 25px;
    padding: 12px;
    width: 190px;
}

.custom-button:hover {
    background-color:#0077b6;
}


.navbar {
    background-color: #caf0f8;
}

.navbar-search {
    text-align: center;
}

.nav-column {
    background-color: white;
    position: absolute;
    width: 20%;
    height: 100%;
}

.navbar-nav {
    margin-left: 20%;
    margin-top: 20px;
}

/* SEARCH BAR */

.navbar-search {

    width: 50%;
    margin-left: 20%;

}

.btn-outline-custom {

    background-color:#51b9f1;

}

.btn-outline-custom:hover {

    background-color: #0077b6;

}

/* NAVBAR ICONS */

#profile-icon {

    margin-left: 25%;

}

/* Profile content */

.card {
    padding-bottom: 20px;
    transition: 0.3s;
    width: 79%;
    height: 100vh;
    padding: 10px;
}


.card-wrapper{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    margin: 0px;
}

.profile-image{
    width:150px;
    height:100px;
    display:block;
    border: 2px solid black;
    border-radius: 50%;
}

