body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

/* NAV BAR */
.custom-button {
    background-color:#a2d2ff;
    border-radius: 25px;
    padding: 12px;
    width: 190px;
}

.custom-button:hover {
    background-color:#0077b6;
}


.navbar {
    background-color: #caf0f8;
}

.navbar-search {
    text-align: center;
}

.nav-column {
    background-color: white;
    position: absolute;
    width: 20%;
    height: 100%;
}

.navbar-nav {
    margin-left: 20%;
    margin-top: 20px;
}

/* SEARCH BAR */

.navbar-search {

    width: 50%;
    margin-left: 20%;

}

.btn-outline-custom {

    background-color:#51b9f1;

}

.btn-outline-custom:hover {

    background-color: #0077b6;

}

/* NAVBAR ICONS */

#profile-icon {

    margin-left: 25%;

}

/* REPLY SECTION */

.home-feed {

    height: 100%;
    max-height: 700px;
    width: auto;
    overflow-y: scroll;

}

.card {
    padding:20px;
}


#post-btn{
    display: block;
    margin-left:auto;
    width: 200px;
}
