body {
    background-color: #f9f9f7;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

.navbar {
    background-color: #caf0f8;
    height: 80px;
}

.custom-button {
    background-color:#a2d2ff;
    border-radius: 25px;
    padding: 12px;
    width: 190px;
}

.custom-button:hover {
    background-color:#0077b6;
}

.card-wrapper{
    height: calc(100vh - 80px);
    display:flex;
    justify-content: center;
    align-items: center;
}

.card {
    width:900px;
    padding:30px;
}

#create-button{
    border-color:#a2d2ff;
}


