body {

    margin: 0px;

}

main {

    margin: 20px;
}

h2 { text-align: center;

}

.navbar ul {
    
    list-style-type: none;
    background-color: rgb(144, 144, 144);
    padding: 0px;
    margin: 0px;
    overflow: hidden;

}

.navbar li {

    float: left;

}

.navbar a {
    
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}

.navbar a:hover {

    background-color: rgb(128, 128, 128);

}

